<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>

		
		<add key="EMAIL" value="your e-mail"  />
		<!-- EMAIL = Gönderici Mail Adresi-->
		<add key="PASS" value="your e-mail password" />
		<!-- PASS = Gönderici Mail Adresinin Şifresi -->
		<add key="SMTP_HOST" value="your e-mail smtp" />
		<!-- HOST = Gönderici Mail Adresinin HOST Adresi. -->
		<add key="SMTP_PORT" value="smtp port" />
		<!-- PORT = SMTP Portunu Belirleyiniz -->		
		<add key="To" value="TO"/>
		<!-- To = Alıcı Mail Adreslerini Aralarında "," İle Ayırarak Belirleyin -->
		<add key="TESIS_ADI" value="Name"/>
		<!-- TESIS_ADI = Hastane'nin Adını Belirleyiniz  -->
		
	</appSettings>
</configuration>
