<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>

		<!-- DB_NAME  = DATABASE ISMI ( DEFAULT SmartBaseNOSQL )-->
		<add key="EMAIL" value="notification.stockart@yandex.com"  />
		<!-- EMAIL = Gönderici Mail Adresi-->
		<add key="PASS" value="kjrhhcwxpsjzfgxq" />
		<!-- PASS = Gönderici Mail Adresinin Şifresi -->
		<add key="SMTP_HOST" value="smtp.yandex.com.tr" />
		<!-- HOST = Gönderici Mail Adresinin HOST Adresi. -->
		<add key="SMTP_PORT" value="587" />
		<!-- PORT = SMTP Portunu Belirleyiniz -->
		<add key="Key" value="0" />
		<!-- Key = "0" İse Mail Atmayacak, "1" İse Mail Atacak -->
		<add key="To" value="huseyin.karayazim@triatech.com.tr"/>
		<!-- To = Alıcı Mail Adreslerini Aralarında "," İle Ayırarak Belirleyin -->
		<add key="TESIS_ADI" value="HACETTEPE UNİVERSİTE HASTANESİ TEST"/>
		<!-- TESIS_ADI = Hastane'nin Adını Belirleyiniz  -->
		<add key="TimeOut" value="15"/>
		<!-- SANİYE CİNSİNDEN TİMEOUT SÜRESİ BELİRLEYİN, TİME OUT BELİRLENMEZSE CONSOLE AÇIK KALACAKTIR.  -->

	</appSettings>
</configuration>